{% extends "base.html" %} {% block title %} {% endblock %}
{% block content %}


<body>
  <div class="container d-flex justify-content-center align-items-center vh-100">
    <div class="row">
      <div class="col-12">
        {% if form.errors %}
            <h3 class="text-center">Please Try Again</h3>
            <ul>
                {% for field in form %}
                    {% for error in field.errors %}
                        <li>{{ error }}</li>
                    {% endfor %}
                {% endfor %}
            </ul>
        {% endif %}
        {% if user.is_authenticated %}
          <h1 class="text-center">You are already logged in</h1>
        {% else %}
          <h1 class="text-center">Create an Account</h1>
          <form method="POST" action="{% url 'register' %}">
            {% csrf_token %}
            <div class="mb-3">
              <label for="username" class="form-label">Username</label>
              <input type="text" class="form-control" name="username" placeholder="Enter your Username" required>
              <small class="form-text text-muted">{{ form.username.help_text }}</small>
            </div>

            <div class="mb-3">
              <label for="password1" class="form-label">Password</label>
              <input type="password" class="form-control" name="password1" placeholder="Enter Your Password" required>
              <small class="form-text text-muted">{{ form.password1.help_text }}</small>
            </div>

            <div class="mb-3">
                <label for="password2" class="form-label">Confirm Password</label>
                <input type="password" class="form-control" name="password2" placeholder="Confirm Your Password" required>
            </div>
            <div class="text-center">
                <button type="submit" class="btn btn-custom">Sign Up</button>
                <br>
                    <a href="{% url 'login' %}" class="btn btn-link">Login</a>
                </br>
            </div>
          </form>
        {% endif %}
      </div>
    </div>
  </div>
</body>
{% endblock %}