{% extends "base.html" %} {% block title %} {% endblock %}
{% block content %}
<div class="container mt-5 pt-5"> <!-- Added pt-5 to create space for the navbar -->
    <h1 class="text-center mb-4">My Collections</h1>
    <div class="text-center mb-4">
        <a href="{% url 'create_collection' %}" class="btn btn-custom">Create New Collection</a>
    </div>
    <div class="row">
        {% for collection in collections %}
            <div class="col-md-4 mb-4">
                <div class="card">
                    <img src="{{ collection.cover_image }}" class="card-img-top" alt="{{ collection.title }}">
                    <div class="card-body">
                        <h5 class="card-title">{{ collection.title }}</h5>
                        <p class="card-text">{{ collection.release_info }}</p>
                    </div>
                </div>
            </div>
        {% empty %}
            <div class="col-12">
                <p class="text-center">No collections found</p>
            </div>
        {% endfor %}
    </div>
</div>
{% endblock %}