<!--leafletmapajax.html-->
{% extends "base.html" %} {% load static %} {% block content %}
<!DOCTYPE html>
<html>
    <head>
        <title>Leaflet Map</title>
        <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css" integrity="sha256-p4NxAoJBhIIN+hmNHrzRCf9tD/miZyoHS5obTRR9BMY=" crossorigin="" />
        <script src="https://code.jquery.com/jquery-3.7.1.min.js" integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
        <script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js" integrity="sha256-20nQCchB9co0qIjJZRGuk2/Z9VM+kNiyxNV1lvTlZBo=" crossorigin=""></script>
        <style>
            #map { height: 100vh; }
            #overlay {
                position: absolute;
                top: 15%;
                left: 65%;
                z-index: 1000; /* Ensure overlay is on top of map */
                background-color: rgba(255, 255, 255, 0.8); /* Semi-transparent white background */
                padding: 0px;
                border-radius: 5px;
                box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
                width: 500px;
                max-height: 90vh;
                overflow-y: auto;
                display: none; /* hide overlay initially */
            }
            .artist-cover {
                width: 50px;
                height: 50px;
                object-fit: cover;
                margin: 5px;
            }
            .recording-list {
                width: 100px;
                height: 100px;
                object-fit: cover;
                margin: 5px;
            }
        </style>
    </head>
    <body>
        <div id="map"></div>

        <div id="overlay">
            <h3 id="country-name">Country</h3>
            <div id="country-info">Searching...</div>
        </div>

        <script>
            
            // set initial map
            var map = L.map('map').setView([35.677399, 139.746041], 5); 
            // Add a resize handler to the map

            var maxBounds = L.latLngBounds(
                L.latLng(map.getBounds()._southWest.lat, map.getBounds()._southWest.lng),
                L.latLng(map.getBounds()._northEast.lat, map.getBounds()._northEast.lng)
            );

            function resizeMap() {
                // Resize the map to fit the browser window
                map.fitBounds(L.latLngBounds(map.getCenter(), map.getZoom()));
            }
            // Call the resize function when the map is created or resized
            map.on('resize', resizeMap);

            // add OSM tiles
            L.tileLayer('https://tile.openstreetmap.org/{z}/{x}/{y}.png', {
                maxZoom: 10,
                minZoom:2,
                attribution: '&copy; <a href="http://www.openstreetmap.org/copyright">OpenStreetMap</a>',
                //noWrap: true
                maxBounds: maxBounds,
            }).addTo(map);

            var countryLayer; // to hold the geojson layer

            // Create a GeoJSON layer for the country boundaries
            var geoJsonUrl = "{% static 'js/country_boundaries.geojson' %}";
            $.getJSON(geoJsonUrl, function(countryData) {
                var countryLayer = L.geoJSON(countryData, {
                    style: function(feature) {
                        return {
                            weight: 1,
                            opacity: 0.5,
                            color: 'transparent'
                        }     
                    },
                    onEachFeature: function(feature, layer) {
                        layer.on('click', function(e) {
                            countryLayer.resetStyle();

                            layer.setStyle({
                                weight: 1,
                                opacity: 0.5,
                                color: 'orange'
                            });

                            // Get the country name from the feature properties
                            var countryName = feature.properties.NAME;
                            var countryISOA2 = feature.properties.ISO_A2;
                            console.log(countryISOA2)
                            // Update the overlay content
                            document.getElementById('country-name').innerHTML = '<h3>' + countryName + '</h3>';

                            $.ajax({
                                url: "{% url 'country_search' %}",
                                data: { ISO_A2: countryISOA2 }, // pass the country ISO A2 code as a parameter
                                
                                //using a list
                                {% comment %} 
                                success: function(data) {
                                    var releaseList = "<ul>";
                                    var imageCount = 0;

                                    for (var i = 0; i < data.length; i++) {
                                        var release = data[i];
                                        console.log("Processing release:", release);
                                        console.log("Cover images:", release.cover_images);
                                        console.log(release.cover_images);

                                        if (release.cover_images && release.cover_images.length > 0) {
                                            var coverImage = release.cover_images;
                                            if (coverImage) {
                                                releaseList += '<img src="' + coverImage + '" class="recording-list">';
                                                imageCount++;
                                            }
                                        }
                                    }
                                    releaseList += "</ul>";
                                    document.getElementById('country-info').innerHTML = releaseList;
                                    console.log("Total images processed:", imageCount);
                                    console.log("releaseList:", releaseList);
                                    console.log("var release length:", release.cover_images.length);
                                }, 
                                {% endcomment %}

                                // appending

                                success: function(data) {
                                    var imageCount = 0;
                                    var countryInfoElement = document.getElementById('country-info')

                                    //clear the element before adding new content
                                    countryInfoElement.innerHTML = '';

                                    for (var i = 0; i < data.length; i++) {
                                        var release = data[i];
                                        console.log("Processing release:", release);
                                        console.log("Cover images:", release.cover_images);

                                        if (release.cover_images && release.cover_images.length > 0) {
                                            var coverImage = release.cover_images;
                                            if (coverImage) {
                                                var imgElement = document.createElement("img");
                                                imgElement.src = coverImage;
                                                imgElement.className = "recording-list";
                                                countryInfoElement.appendChild(imgElement);
                                                imageCount++;
                                                console.log("Added image:", coverImage);
                                            }
                                        }
                                    }
                                    console.log("Total images processed:", imageCount);
                                }, 

                            });

                            
                            {% comment %} 
                            $.ajax({
                                url: "{% url 'artists_in_country' %}",
                                data: { ISO_A2: countryISOA2 }, // the data tag needs to be identical to the GET request one in the function
                                success: function(data) {
                                    var artistList = "<ul>";
                                    for (var i = 0; i < data.length; i++) {
                                        var artist = data[i];
                                        console.log(artist.cover_images)
                                        artistList += "<li>" + artist.name;

                                        if (artist.cover_images && artist.cover_images.length > 0) {
                                            for (var j = 0; j < artist.cover_images.length; j++) {
                                                artistList += '<img src="' + artist.cover_images[j] + '" class="artist-cover">';
                                            }
                                        }
                                        artistList += "</li>";
                                    }
                                    artistList += "</ul>";
                                    document.getElementById('country-info').innerHTML = artistList;
                                },
                                error: function(xhr, status, error) {
                                    document.getElementById('country-info').innerHTML = "Error retrieving artists: " + error;
                                }
                            }); {% endcomment %}

                            // Show the overlay
                            document.getElementById('overlay').style.display = 'block';

                            // Print the country name to the console
                            console.log('Country clicked:', countryName);
                        });

                    }
                });
                // Add the country layer to the map
                map.addLayer(countryLayer);
            });

        </script>
    </body>
</html>
{% endblock %}