<!--leafletmapajax.html-->
{% extends "base.html" %} {% load static %} {% block content %}
<!DOCTYPE html>
<html>
    <head>
        <title>Leaflet Map</title>
        <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css" integrity="sha256-p4NxAoJBhIIN+hmNHrzRCf9tD/miZyoHS5obTRR9BMY=" crossorigin="" />
        <script src="https://code.jquery.com/jquery-3.7.1.min.js" integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
        <script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js" integrity="sha256-20nQCchB9co0qIjJZRGuk2/Z9VM+kNiyxNV1lvTlZBo=" crossorigin=""></script>
        <style>
            #map { height: 100vh; }
            .overlay {
                position: absolute;
                top: 15%;
                left: 65%;
                z-index: 1000; /* Ensure overlay is on top of map */
                background-color: rgba(255, 255, 255, 0.8); 
                padding: 0px;
                border-radius: 5px;
                box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
                width: 500px;
                max-height: 90vh;
                overflow-y: auto;
                display: none; 
            }
            .recording-list {
                width: 100px;
                height: 100px;
                object-fit: cover;
                margin: 5px;
            }
        </style>
    </head>
    <body>
        <div id="map"></div>

        <div id="country-overlay" class="overlay">
            <h3 id="country-name">Country</h3>
            <div id="country-info">Searching...</div>
            <div id="pagination-controls"></div>
        </div>

        <div id="artist-overlay" class="overlay">
            <h3 id="artist-search-input">Searching for</h3>
            <div id="artist-search-results">Searching...</div>
            <div id="artist-pagination-controls"></div>
        </div>

        <script>
            function imageHover() {
                $('.recording-list').hover(
                    function() {
                        const title = $(this).attr('title');
                        const tooltip = $('<div class="tooltip"></div>').text(title).appendTo('body');
                        $(this).data('tooltip', tooltip);
                    },
                    function() {
                        $(this).data('tooltip').remove();
                    }
                ).mousemove(function(e) {
                    const tooltip = $(this).data('tooltip');
                    if (tooltip) {
                        tooltip.css({ top: e.pageY + 10, left: e.pageX + 20 });
                    }
                });
            }

            // Country Search related functions--------------------------------------------------------------------------------
            var countryInfoElement = document.getElementById('country-info');

            // Global variables to handle pagination
            let totalItems = 0;
            let allData = []; // Ensure allData is an array
            let currentCountryISOA2 = '';

            // Function to fetch data and initialize pagination
            function fetchDataAndInitializePagination(countryISOA2, page) {
                // Ensure countryISOA2 is not undefined or null
                if (!countryISOA2) {
                    console.error("Country ISO A2 is required but not provided.");
                    return;
                }
                $.ajax({
                    url: "{% url 'country_search' %}",
                    data: { ISO_A2: countryISOA2, page: page },
                    success: function(data) {
                        console.log(data); // Debug to see the structure of the response
                        allData = data.releases;
                        console.log("releases: ", allData); // Debugging
                        totalItems = data.total_items;
                        console.log("Total Items: ", totalItems); // Debugging
                        data.current_page = currentPage;
                        console.log("Current Page: ", data.current_page); // Debugging
                        // Check if we have at least 10 cover images
                        let coverImages = allData.filter(release => release.cover_image && release.cover_image.length > 0);
                        if (coverImages.length < 10 && currentPage < Math.ceil(totalItems / 10) && data.total_pages < 10) {
                            currentPage++;
                            fetchDataAndInitializePagination(countryISOA2, currentPage);
                        } else {
                            updateOverlayContent(countryISOA2);
                        }
                    },
                    error: function(xhr, status, error) {
                        document.getElementById('country-info').innerHTML = "Error retrieving album cover images from server: " + error;
                    }
                });
            }

            // Function to update the overlay content based on the current page
            function updateOverlayContent(countryISOA2) {
                var countryInfoElement = document.getElementById('country-info');
                countryInfoElement.innerHTML = ''; // Clear existing content
            
                // Check if allData is defined and is an array
                if (Array.isArray(allData)) {
                    for (let i = 0; i < allData.length; i++) {
                        let release = allData[i];
                        if (release.cover_image && release.cover_image.length > 0) {
                            var coverImage = release.cover_image;
                            var imgElement = document.createElement("img");
                            imgElement.src = coverImage;
                            imgElement.title = release.title;
                            imgElement.className = "recording-list";
                            countryInfoElement.appendChild(imgElement);
                        }
                    }
                } else {
                    console.log('allData is undefined or not an array');
                }
                updatePaginationControls(countryISOA2);
                imageHover();
            }

            // Function to update pagination controls
            function updatePaginationControls(countryISOA2) {
                const paginationElement = document.getElementById('pagination-controls');
                paginationElement.innerHTML = ' '; // Clear existing controls

                // Create button for previous page
                const prevButton = document.createElement("button");
                prevButton.innerHTML = "Previous";
                // Disable Previous Button if on the first page
                if (currentPage <= 1) {
                    prevButton.disabled = true;
                } else {
                    prevButton.disabled = false;
                }
                prevButton.addEventListener('click', function() {
                    if (currentPage > 1) {
                        currentPage--;
                        fetchDataAndInitializePagination(countryISOA2, currentPage);
                    }
                });
                paginationElement.appendChild(prevButton);

                // Create button for next page
                const nextButton = document.createElement("button");
                nextButton.innerHTML = "Next";
                nextButton.addEventListener('click', function() {
                    currentPage++;
                    fetchDataAndInitializePagination(countryISOA2, currentPage);
                });
                paginationElement.appendChild(nextButton);
            }

            // Event handler for country click
            function onCountryClick(countryName, countryISOA2) {
                currentCountryISOA2 = countryISOA2;
                document.getElementById('country-name').innerHTML = '<h3>' + countryName + '</h3>';
                currentPage = 1;
                fetchDataAndInitializePagination(countryISOA2=currentCountryISOA2, page=currentPage);
                document.getElementById('artist-overlay').style.display = 'none';
                document.getElementById('country-overlay').style.display = 'block';
            }

            // Map implementation-------------------------------------------------------------------------------------------------------------------
            // set initial map
            var map = L.map('map').setView([35.677399, 139.746041], 5); 
            // Add a resize handler to the map

            function resizeMap() {
                // Resize the map to fit the browser window
                map.fitBounds(L.latLngBounds(map.getCenter(), map.getZoom()));
            }
            // Call the resize function when the map is created or resized
            map.on('resize', resizeMap);

            var maxBounds = L.latLngBounds(
                L.latLng(map.getBounds()._southWest.lat, map.getBounds()._southWest.lng),
                L.latLng(map.getBounds()._northEast.lat, map.getBounds()._northEast.lng)
            );

            // add OSM tiles
            L.tileLayer('https://tile.openstreetmap.org/{z}/{x}/{y}.png', {
                maxZoom: 10,
                minZoom:2,
                attribution: '&copy; <a href="http://www.openstreetmap.org/copyright">OpenStreetMap</a>',
                //noWrap: true
                maxBounds: maxBounds,
            }).addTo(map);

            var countryLayer; // to hold the geojson layer

            // Create a GeoJSON layer for the country boundaries
            var geoJsonUrl = "{% static 'js/country_boundaries.geojson' %}";
            // Setup the map and event listeners
            $.getJSON(geoJsonUrl, function(countryData) {
                var countryLayer = L.geoJSON(countryData, {
                    style: function(feature) {
                        return {
                            weight: 1,
                            opacity: 0.5,
                            color: 'transparent'
                        }     
                    },
                    onEachFeature: function(feature, layer) {
                        layer.on('click', function(e) {
                            countryLayer.resetStyle();
                            layer.setStyle({
                                weight: 1,
                                opacity: 0.5,
                                color: 'orange'
                            });

                            var countryName = feature.properties.NAME;
                            var countryISOA2 = feature.properties.ISO_A2;
                            console.log('Country clicked:', countryName, countryISOA2);
                            onCountryClick(countryName=countryName, countryISOA2=countryISOA2);
                        });
                    }
                });
                map.addLayer(countryLayer);
            });

            // Navbar Search related functions-------------------------------------------------------------------------------------------------------------------------------------
            document.getElementById('navbar-search-form').addEventListener('submit', navbarSearch);

            function navbarSearch(event) {
                event.preventDefault();
                let searchQuery = document.getElementById('navbar-search-input').value;
                console.log("Search Query:", searchQuery); // Debug log
                fetchSearchResults(searchQuery);
            }

            function fetchSearchResults(query) {
                $.ajax({
                    url: "{% url 'artist_search' %}",
                    data: { query: query },
                    method: "GET",
                    success: function(data) {
                        document.getElementById('artist-search-input').textContent = "Searching for " + query;
                        console.log("Search Results:", data); // Debug log
                        displayArtists(data);
                    },
                    error: function(xhr, status, error) {
                        document.getElementById('artist-search-results').innerHTML = "Error retrieving search results:" + error;
                    }
                });
            }

            function displayArtists(data) {
                const artistListContainer = document.getElementById('artist-search-results');
                artistListContainer.innerHTML = ''; // Clear existing content
                if (Array.isArray(data.artist_list) && data.artist_list.length > 0) {
                    data.artist_list.forEach(artist => {
                        console.log(artist); // Debug log
                        let artistDiv = document.createElement('div');
                        artistDiv.textContent = artist.name;
                        if (Array.isArray(artist.release_info)) {
                            if (artist.release_info.length == 0) {
                                let noCoverText = document.createElement('p');
                                noCoverText.textContent = "No cover images available.";
                                artistDiv.appendChild(noCoverText);
                            }
                            else {
                                artistDiv.appendChild(document.createElement('br')); // Add line break after artist name
                                artist.release_info.forEach(release => {
                                    let imgElement = document.createElement('img');
                                    imgElement.src = release.cover_image;
                                    imgElement.className = "recording-list";
                                    imgElement.title = release.title;
                                    artistDiv.appendChild(imgElement);
                                });
                            }
                        artistListContainer.appendChild(artistDiv);
                        }
                    });
                }
                document.getElementById('country-overlay').style.display = 'none';
                document.getElementById('artist-overlay').style.display = 'block';
                imageHover();
            }
        </script>
    </body>
</html>
{% endblock %}