<!--search.html-->
{% extends "base.html" %} {% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Search Cover Art</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <style>
        .cover-image {
            width: 250px;
            height: 250px;
            object-fit: cover; /* Ensure the image covers the area without distortion */
            margin: 5px; /* spacing between images */
        }
    </style>
</head>
<body>
    {% if searched %}
        <h1>Searching for {{ searched }}</h1>
        <br/>
        {% for artist in artists %}
            <div id="artist-{{ artist.id }}">
                <h2>{{ artist.name }}</h2>
                <div id="cover-images-{{ artist.id }}">
                    <p>Loading cover art...</p>
                </div>
                <p>{{ artist.area }}</p>
            </div>
            <script>
                $(document).ready(function() {
                    $.ajax({
                        url: "{% url 'fetch_cover_images' artist.id %}",
                        method: "GET",
                        success: function(data) {
                            var coverImagesDiv = $("#cover-images-{{ artist.id }}");
                            coverImagesDiv.empty();
                            if (data.cover_images.length > 0) {
                                data.cover_images.forEach(function(cover_image) {
                                    var img = $("<img>")
                                    .attr("src", cover_image)
                                    .attr("alt", "Cover art for {{ artist.name }}")
                                    .addClass("cover-image")
                                    .on("load", function() {
                                        coverImagesDiv.append(img);
                                    });
                                });
                            } else {
                                coverImagesDiv.append("<p>No cover art available</p>");
                            }
                        },
                        error: function() {
                            $("#cover-images-{{ artist.id }}").html("<p>Error loading cover art</p>");
                        }
                    });
                });
            </script>
        {% endfor %}
    {% else %}
        <h3>Enter text to search</h3>
    {% endif %}
</body>
</html>
{% endblock %}
